[Desktop Entry]
Type=Application
Name=Synapse Settings
Name[it]=Impostazioni Synapse
Comment=Configure Synapse desktop settings
Comment[it]=Configura le impostazioni del desktop Synapse
Exec=synapse-settings-gui
Icon=preferences-system
Terminal=false
Categories=Settings;
StartupNotify=true
